<section>
  <header>
    <ol class="breadcrumbs">
      <li>Research</li>
    </ol>

    <h2>Research</h2>
  </header>

  <article>
    <h3>Study</h3>

    <p>
      This is to get experience on how to use sparkles (as a PoC implementation for glimmer components) today in classic ember apps and how this will work in the future MU layout apps (and how they will be structured).
      The idea is to retrieve best practices that you can apply today and will continue to work with MU layout. Three different use-cases with various variations have been tested
    </p>

    <ul>
      <li>Invocation</li>
      <li>Template only Glimmer Components</li>
      <li><code>{{concat '{{action}}'}}</code> helper and the scope of this</li>
    </ul>

    <p>These tests are run against a classic ember app and an ember MU app.</p>

    <h3>Results Overview</h3>

    <p>
      Some of these "tests" are red and are expected to be red. Some tests are red and were probably run with wrong expectations. The question is whether these tests are bugs or whether the expectations are wrong.
    </p>

    <img src="https://github.com/gossi/sparkles-test/raw/master/results.png">

    <p>A note on reading this:</p>

    <ul>
      <li>For Invocation and Template only Glimmer Components the results show the found template, not found - but expected - template</li>
      <li>For <code>this</code> the sheet shows the value of what <code>this</code> is. It is expected to always be the given context (e.g. <code>ApplicationController</code> see below)</li>
    </ul>

    <h3>Discussion</h3>

    <h4>Invocation</h4>

    <p>Invocation was probably the most easiest one to test. Some things that confuse me:</p>

    <ul>
      <li>Invocation of (folder-)curly-brace components throwed an error in MU</li>
      <li>Angle bracket component couldn't be resolved by its name that resides in a sub folder (= <code>&lt;Wurst /&gt;</code>)</li>
    </ul>

    <h4>Template Only Glimmer Components</h4>

    <p>Everything went well so far. Keep in mind, for classic apps there is a priority order in which template only components - if they happen to exist in two locations - are resolved.</p>

    <h4>Scope of <code>this</code> when using <code>{{concat '{{action}}'}}</code> helper</h4>

    <p>Glimmer stops making use of embers <code>@action</code> hash. Actions aren't referenced by their name anymore, instead the method is passed down directly. Important part is, that they are run under the scope they
    are defined. That is being tested with this <code>ApplicationController</code> class:</p>

    <CodeSnippet @name="research/ApplicationController.js"/>

    <p>
      This "action" is passed down as <code>{{concat '{{action this.whoAmI}}'}}</code> to all variations it is tested in. My expectation is that <code>this</code> should always be related to the given context
      (e.g. <code>ApplicationController</code>). In the past, I realised this wasn't always the case so I constructed plenty use-case variations to see which violate my expectations. The idea is from an application
      route/controller I can only pass my action method and whatever happens afterwards is out-of-control in the scope of the application route/controller. Whenever my action method is invoked from inside the
      components it is passed to, I want to rely on <code>this</code> being my <code>ApplicationController</code> anyway some weird/bad things happen on the way forth and back and whatever I put in is not
      what's returned (PS: There is a computer science term describing this immutability and reliability - but I'm just a sport scientist ¯\(ツ)/¯).
    </p>

    <p>
      According to <a href="https://github.com/rwjblue" target="_blank">@rwjblue</a> the <code>{{concat '{{action}}'}}</code> helper is probably not the way to go when running into a glimmer components world. The best option
      is the <code>{{concat '{{bind}}'}}</code> helper from <a href="https://github.com/Serabe/ember-bind-helper" target="_blank">ember-bind-helper</a>. Tests include the use of bind helper in contrast to the action helper.
    </p>

    <h3>References</h3>
    <ul>
      <li>Gossmann, T. (2018). <i>Sparkles Test</i>. <a href="https://github.com/gossi/sparkles-test">https://github.com/gossi/sparkles-test</a></li>
    </ul>
  </article>
</section>