<div ...attributes>
  Modal opened: {{@open}}

  {{#if (has-block-params)}}
    {{yield (hash
      Header=(component 'header' modal=this)
      Body=(component 'body' modal=this)
    )}}
  {{else if (has-block)}}
    <Body>{{yield}}</Body>
  {{else}}
    <Header></Header>

    <Body></Body>
  {{/if}}
</div>